<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016. Copyright (c) 2016. ziroom.com.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <!--interceptor-->
    <context:property-placeholder location="classpath:application.properties,classpath:redis.properties" local-override="true"/>

    <!-- 扫描注解Bean -->
    <context:component-scan base-package="com.asura" />
    <context:component-scan base-package="com.ziroom.minsu.portal.fd.center">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--
        启用 aspectj 动态代理
        proxy-target-class属性若此值为true强制使用CGLIB代理
        expose-proxy属性若此值为true时，是为了目标对象内部的自我调用也可实施切面
    -->
    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>
    
     <!-- 校验参数 -->
    <bean id="fd.messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:message/fd-validator</value>
                <value>classpath:org/hibernate/validator/ValidationMessages</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="60"/>
    </bean>

    <!-- <bean id="fd.validatorFactory"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="fd.messageSource"/>
    </bean>

    <bean id="fd.validator" factory-bean="fd.validatorFactory" factory-method="getValidator"/> -->
    
    <!-- 上传图片client -->
    <bean id="storageService" class="com.ziroom.tech.storage.client.service.impl.StorageServiceImpl">
	    <property name="server" value="${storage_client_url}"/>
	</bean>
	
    <!-- dubbo消费者配置 -->
    <import resource="dubbo-consumer.xml"/>
    <!-- 基础数据服务 -->
    <import resource="classpath:META-INF/spring/basedata-inner-consumer.xml"/>

    <import resource="classpath:META-INF/spring/search-inner-consumer.xml"/>
    
    <import resource="classpath:META-INF/spring/evaluate-inner-consumer.xml"/>
    
    <import resource="classpath:META-INF/spring/house-inner-consumer.xml"/>
  
    <import resource="classpath:META-INF/spring/order-inner-consumer.xml"/>
	
	<import resource="classpath:META-INF/spring/message-inner-consumer.xml"/>
	
	<import resource="classpath:META-INF/spring/customer-inner-consumer.xml"/>

    <import resource="classpath:META-INF/spring/cms-inner-consumer.xml"/>
</beans>
