<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.minsu.spider.xiaozhunew.dao.XiaozhuNewHousePriceEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ziroom.minsu.spider.xiaozhunew.entity.XiaozhuNewHousePriceEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house_sn" property="houseSn" jdbcType="VARCHAR" />
    <result column="house_price" property="housePrice" jdbcType="INTEGER" />
    <result column="price_type" property="priceType" jdbcType="VARCHAR" />
    <result column="available" property="available" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_modify_date" property="lastModifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, house_sn, house_price, price_type, available, date, create_date, last_modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_xiaozhu_new_house_price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_xiaozhu_new_house_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ziroom.minsu.spider.xiaozhunew.entity.XiaozhuNewHousePriceEntity" >
    insert ignore into t_xiaozhu_new_house_price (id, house_sn, house_price, 
      price_type, available, date, 
      create_date, last_modify_date)
    values (#{id,jdbcType=INTEGER}, #{houseSn,jdbcType=VARCHAR}, #{housePrice,jdbcType=INTEGER}, 
      #{priceType,jdbcType=VARCHAR}, #{available,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ziroom.minsu.spider.xiaozhunew.entity.XiaozhuNewHousePriceEntity" >
    insert ignore into t_xiaozhu_new_house_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="houseSn != null" >
        house_sn,
      </if>
      <if test="housePrice != null" >
        house_price,
      </if>
      <if test="priceType != null" >
        price_type,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="houseSn != null" >
        #{houseSn,jdbcType=VARCHAR},
      </if>
      <if test="housePrice != null" >
        #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="priceType != null" >
        #{priceType,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        #{available,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.minsu.spider.xiaozhunew.entity.XiaozhuNewHousePriceEntity" >
    update t_xiaozhu_new_house_price
    <set >
      <if test="houseSn != null" >
        house_sn = #{houseSn,jdbcType=VARCHAR},
      </if>
      <if test="housePrice != null" >
        house_price = #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="priceType != null" >
        price_type = #{priceType,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziroom.minsu.spider.xiaozhunew.entity.XiaozhuNewHousePriceEntity" >
    update t_xiaozhu_new_house_price
    set house_sn = #{houseSn,jdbcType=VARCHAR},
      house_price = #{housePrice,jdbcType=INTEGER},
      price_type = #{priceType,jdbcType=VARCHAR},
      available = #{available,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByHouseSn" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_xiaozhu_new_house_price
    where house_sn = #{houseSn,jdbcType=VARCHAR}
  </select>
  
   <select id="findByHouseSnDate" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_xiaozhu_new_house_price
    where house_sn = #{houseSn,jdbcType=VARCHAR}
    	and date = #{date,jdbcType=DATE}
  </select>
  
  <delete id="delByHouseSn" parameterType="java.lang.String" >
    delete from t_xiaozhu_new_house_price
    where house_sn = #{houseSn,jdbcType=VARCHAR}
  </delete>
</mapper>