

.banner{height: 100%; overflow: hidden; position: relative; z-index: 9;}
#slides li{
	position: absolute
}

#slides li {
	left: 0;
	top: 0;
	opacity: 0; z-index: 1; width:100%;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-moz-transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-ms-transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-o-transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s; background:#fff;
}

#slides li img {
	/*-webkit-transform: scale3d(1.05,1.05,1.05);
	transform: scale3d(1.05,1.05,1.05);
	-webkit-transition: -webkit-transform 4s;
	transition: transform 4s; */
	width: 100%;
}

#slides li.active {
	z-index: 2
}



#slides li.aniActive {
	opacity: 1;
	filter: alpha(opacity=100);
	
}

#slides li.aniActive img {
	/*-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1)*/
}


.banner span.txt{background:url(../images/index/banner_txt.png)  no-repeat center center;
	background-size:35% auto;

 width: 100%; height: 90px; position: absolute; left: 0; top: 50%;
margin-top: -45px; z-index: 9;
}

.header_fixed.header{
	position: fixed;
	top: 0;
}

.header_fixed li.to{
	margin-left: 16px;
}
.header_fixed li.users{
	margin-left: 70px;
}
.header_fixed li.usersInfo{
	margin-left: 70px;
}
.search_bar .search_bar_l{
	width: 627px;
	background-color: #fff;
}

.header_fixed .txt_right li{float: right;}


/* .header_fixed .usersInfo, */
.header_fixed .downLoad,
.header_fixed .toziroom{display: none}
.header_fixed .area{
	width: 100%;
	max-width: 1200px;
	-webkit-max-width:1200px;
}

#ui-datepicker-div{margin-top:9px;}

.search_bar{
	 width: 790px; margin: -150px  auto 0 auto; position: relative;
	z-index: 99;
}

/*悬浮搜索框*/
.search_bar_fixed{position: fixed; margin: 0; top:-10px; left: 50%; margin-left: -380px; width: 690px;z-index: 999;}
.search_bar_fixed .search_bar_l{float: left;width: 548px;height: 38px;border: 1px solid #ddd;border-radius: 5px 0 0 5px;border-right: none;}
.search_bar_fixed .search_bar_l_ul{width: 100%;padding: 5px 0 0;height: 33px;line-height: 30px;}

.search_bar_fixed .search_bar_l_ul > li{float: left;width: 182px;height: 30px;line-height: 30px;border-right: 1px solid #ddd;position: relative;}
.search_bar_fixed .search_bar_l_ul > li .ipt_box{height: 30px;}
.search_bar_fixed .search_bar_l_ul > li .icons{display:block;position:absolute;top: -10px;right:20px;z-index:10;width: 20px;height: 40px;background-repeat: no-repeat;background-image: url(../images/list/search_icons.png);}
.search_bar_fixed .search_bar_l_ul > li .icons.icon_city{background-position: 0 0;}
.search_bar_fixed .search_bar_l_ul > li .icons.icon_date{background-position: -20px 0;}
.search_bar_fixed .search_bar_l_ul > li .icons.icon_person{background-position: -40px 0;}
.search_bar_fixed .search_bar_l_ul > li:last-child{border-right: none;}
.search_bar_fixed .search_bar_l_ul input{width: 148px;padding-left: 20px;color: #444;font-size: 14px;line-height: 20px;background-color: transparent;}
input[placeholder], [placeholder], *[placeholder] { 
color:#bbb; 
} 
.search_bar .search_bar_l_ul .select_list {height: 400px;overflow-y: auto;}
.search_bar_fixed .search_bar_l_ul .select_list{color: #444;font-size: 14px;width: 142px;padding: 0 20px;background: #fff;position: absolute;top: 33px;left: 0;z-index: 99;border: 1px solid #ddd;display: none;height: 400px;overflow-y: auto;}
.search_bar_fixed .search_bar_l_ul .select_list li{width: 100%;height: 40px;line-height: 40px;font-size: 14px;color: #bbb;cursor: pointer;}
.search_bar_fixed .search_bar_l_ul .select_list li:hover,
.search_bar_fixed .search_bar_l_ul .select_list li.current{color: #7acec3;}
.search_bar_fixed .search_bar_r{float: left;width: 120px;height: 40px;line-height: 40px;}
.search_bar_fixed .search_bar_r .search_btn{width: 100%;border:none;color: #fff;font-size: 16px;background: #7acec3;height: 40px;line-height: 40px;border-radius: 0 2px 2px 0;}
.search_bar_fixed .search_bar_r .search_btn:hover{background: #8de2d7;}



/*小于790的情况*/
@media only screen and (max-width: 790px){
	.start_date_li{
		display: none;
	}
	.end_date_li{
		display: none;
	}
	.search_bar .search_bar_l_ul > li{
		border: none;
		width: 298px;
	}
	.search_bar_fixed .search_bar_l_ul > li{
		border: none;
	}
	.search_bar .search_bar_l{
		width: 298px;
	}
	#searchBar{
		width: 460px;
	}
	.search_bar .search_bar_l_ul .select_list{
		width: 256px;
	}
	/*悬浮搜索框适配ipad*/
	#searchBar.search_bar_fixed{
		width: 289px;
		margin-left: -180px;
	}
	.search_bar.search_bar_fixed .search_bar_l_ul .select_list{
		width: 127px;
	}
	.search_bar.search_bar_fixed .search_bar_l_ul > li{
		border: none;
		width: 168px;
	}
	.search_bar_fixed .search_bar_l{
		width: 168px;
	}
	.header_fixed li.users {
	    margin-left: 30px;
	}
	
}


.titles{text-align: center; padding: 80px 0;}
.titles h2{height: 60px;}
.titles small{font-size: 18px; color: #999; line-height: 24px; display: block;}
.titles h2 span{display: none}

.t_1 h2{background: url(../images/index/tit_1.png) no-repeat center center;}
.t_2 h2{background: url(../images/index/tit_2.png) no-repeat center center;}
.t_3 h2{background: url(../images/index/tit_3.png) no-repeat center center;}

@font-face { 
  font-family: SketchRockwell; /*这里是说明调用来的字体名字*/ 
  src: url(raleway.ttf); /*这里是字体文件路径*/ 
} 



/*.partA {padding-top:50px;}*/
.partA .con{width: 84%; margin: 0 auto; padding-bottom: 80px;}
.partA .con li{float: left; width: 25%; position: relative; overflow: hidden; text-align: center;}
.partA .con li a{margin:0 5px;
overflow: hidden;
 position: relative; display: block; background:url(../images/index/city/none.jpg) no-repeat center center;
background-size: 100% 100%;}
.partA .con li img{width: 100%; height: auto;}
.partA .con li a span.txt{
	color: #fff; 
	font-size: 48px; 
	line-height:50px; 
	position:absolute; 
	left: 0; 
	top: 50%; 
	margin-top: -50px;
	width: 100%; z-index: 3;transition: color .5s;
}
.partA .con li a span.txt small{display: block; font-size: 20px; line-height: 24px;
	font-size: 18px;
    font-family: 'SketchRockwell', sans-serif;
}
.partA .con li a span.bg{width: 100%; height: 100%; 
	position: absolute; 
	left: 10px; top:10px; overflow: hidden;
	z-index: 2;
}
.partA .con li a span.bg b{
	background:url(../images/common/whiteopacity.png); width: 100%; height: 100%; 
	position: absolute; left: 0; top:100%;
	transition:all 0.3s ease; 
}
.partA .con li:hover a span.bg b{
	top:0%;
	
}

.partA .con li:hover a span.txt{color: #444;}

.partA .con li a img{
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}
.partA .con li:hover a img{
	-webkit-transform: scale3d(1.1,1.1,1.1);
	transform: scale3d(1.1,1.1,1.1);
}


.partB{background: #efefef url(../images/index/partBbg.png) no-repeat center center; padding-bottom: 80px;}

.partB img{
	width: 100%;
}
/*大于798宽度*/
.partB_content1{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.partB_content1 .S_partB_sliders{
	width: 66.8%;
	position: relative;
}

.partB_content1 .S_partB_right1{
	position: absolute;
	top: 0;
	right: 0;
	width: 33%;
	overflow: hidden;
}
.partB_content1 .S_partB_right2{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 33%;
	overflow: hidden;
}
.S_partB_sliders li{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0; z-index: 1;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-moz-transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-ms-transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-o-transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	transition: opacity 1s cubic-bezier(.445,.05,.55,.95) 0s;
	background:#fff;
}
.S_partB_sliders li.active {
	z-index: 2;
	position: relative;
}
.S_partB_sliders li.aniActive {
	opacity: 1;
	filter: alpha(opacity=100);
}
.S_partB_sliders_txt{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 13.1%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.S_partB_sliders_txt p{
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	line-height: 2.9;
	padding-left: 24px;
	color: #fff;
}
.S_partB_sliders_tab{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 66.8%;
	height: 13.1%;
	/*background-color: rgba(0,0,0,0.5);*/
	z-index: 99;
}
.S_partB_sliders_tab ul{
	position: absolute;
	right: 2%;
	top: 50%;
	margin-top: -3px;
}
.S_partB_sliders_tab li{
	float: left;
	width: 6px;
	height: 6px;
	margin-right: 10px;
	background-color: #888d8d;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-moz-transition: all 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-ms-transition: all 1s cubic-bezier(.445,.05,.55,.95) 0s;
	-o-transition: all 1s cubic-bezier(.445,.05,.55,.95) 0s;
	transition: all 1s cubic-bezier(.445,.05,.55,.95) 0s;
}
.S_partB_sliders_tab li.on{
	-webkit-transform:scale(1.3,1.3);
	-moz-transform:scale(1.3,1.3);
	-ms-transform:scale(1.3,1.3);
	-o-transform:scale(1.3,1.3);
	transform:scale(1.3,1.3);
	background-color: #fff;
}

.partB .bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 10px;
	overflow: hidden;
	z-index: 2;
	background:url(../images/common/whiteopacity.png);
	top:100%;
	transition:all 0.3s ease;
}
.partB .bg span.txt{
	color: #333;
	font-size: 24px;
	line-height:50px;
	position:absolute;
	left: 0;
	top: 50%;
	margin-top: -25px;
	width: 100%;
	text-align: center;
	z-index: 3;
	transition: color .5s;
}
.partB .bg small{
	position: absolute;
	display: block;
	width: 26%;
	top: 60%;
	left: 34.596%;
}
.partB .S_partB_right1:hover .bg{
	top:10px;
}
.partB .S_partB_right1 a>img{
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}
.partB .S_partB_right1:hover a>img{
	-webkit-transform: scale3d(1.1,1.1,1.1);
	transform: scale3d(1.1,1.1,1.1);
}
.partB .S_partB_right2:hover .bg{
	top:10px;
}
.partB .S_partB_right2 a>img{
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}
.partB .S_partB_right2:hover a>img{
	-webkit-transform: scale3d(1.1,1.1,1.1);
	transform: scale3d(1.1,1.1,1.1);
}



.partC{padding-bottom: 80px;}
.zhenxuanList li{float: left; width: 25%; overflow: hidden;}
.zhenxuanList li a{display: block; width: 100%; height: 100%; position: relative;}
.zhenxuanList li img{width: 100%;}
.zhenxuanList li .txt{position: relative; text-align: center; z-index: 2}
.zhenxuanList li .txt .c{position: absolute; left: 10%; top: 50%; margin-top: -60px; width: 80%;
transition:all 0.5s ease; 
}
.zhenxuanList li .txt h3{font-size: 24px; line-height: 140%; margin-bottom: 10px; color: #333}
.zhenxuanList li .txt p{color: #999;}
.zhenxuanList li .bg{background:url(../images/common/whiteopacity.png); width: 100%;
	position: absolute; left: 10px;
	transition:all 0.3s ease; }

.zhenxuanList li.li_bottom .bg{bottom:100%;}
.zhenxuanList li.li_top .bg{top:100%;}

.zhenxuanList li.li_top:hover .bg{top:10px;}
.zhenxuanList li.li_bottom:hover .bg{bottom: 10px;}

.zhenxuanList li.li_bottom:hover .txt .c{ padding-top:40%; }
.zhenxuanList li.li_top:hover .txt .c{top:30px; }