<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd     
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd     
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


    <!-- ====================业务总览定时任务 start======================== -->
    <bean id="dailyReportOverviewService" class="com.zra.report.job.DailyReportOverviewJob">
        <property name="taskName" value="dailyReportOverviewService" />
    </bean>
    <bean id="dailyReportOverviewJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="dailyReportOverviewService" />
        <property name="targetMethod" value="runjob" />
    </bean>

    <bean id="dailyReportOverviewTrrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="dailyReportOverviewJob" />
        </property>
        <property name="cronExpression" value="0 0 11 * * ? * "></property>
    </bean>
    <!-- ==================== 业务总览定时任务 end======================== -->


    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
    <bean id="startQuertz" lazy-init="true" autowire="no"
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!-- 业务总览定时任务任务 -->
                <ref bean="dailyReportOverviewTrrigger"/>
            </list>
        </property>
    </bean>

</beans>
