<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    <bean id="taskLockAspect" class="com.zra.common.filter.TaskAspect"/>
    <aop:config>
        <aop:aspect id="taskAspect" ref="taskLockAspect">
            <aop:pointcut id="mytask" expression="execution(* com.zra.task.*.*.*(..))"/>
            <aop:around pointcut-ref="mytask" method="aroundMethod"/>
        </aop:aspect>
    </aop:config>-->

    <bean id="taskLockAspect" class="com.zra.system.logic.NewTaskAspect"/>
    <aop:config>
        <aop:aspect id="taskAspect" ref="taskLockAspect">
            <aop:pointcut id="mytask" expression="execution(* com.zra.task.*.*.*(..))"/>
            <aop:before pointcut-ref="mytask" method="before"/>
            <aop:after pointcut-ref="mytask" method="after"/>
            <aop:after-throwing pointcut-ref="mytask" method="afterThrow" throwing="throwable"/>
        </aop:aspect>
    </aop:config>

</beans>