.part_r_tt {
    width: 770px;
    padding-left: 30px;
    font-size: 16px;
    color: #444;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
}
.part_r_box{
    padding: 0 40px 15px;
}
.S_table{
    padding-top: 15px;
}
.S_table table{
    line-height: 70px;
}
.S_table table p{
    line-height: 34px;
    color: #b0b0b0;
}
.S_table td{
    position: relative;
}
.S_table input[type=text]{
    width: 283px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #dddddd;
    padding-left: 15px;
    border-radius: 3px;
    color: #444444;
}
.S_table input.S_select_input{
    width: 183px;
    font-size: 14px;
    cursor: pointer;
}
.S_submit_btn{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #7acec3;
    border-radius: 5px;
}
.S_tishi_span{
    font-size: 12px;
    color: #ff4848;
}
.S_item_xiala{
    position: absolute;
    top: 50%;
    left: 179px;
    margin-top: -2px;
    width: 8px;
    height: 4px;
    background: url("../../images/common/icon_down.png") 50% 50% no-repeat;
}
.S_select_content{
    position: absolute;
    top: 55px;
    padding: 0 9px;
    width: 180px;
    border: 1px solid #dddddd;
    border-top: none;
    background-color: #ffffff;
    z-index: 2;
}
.S_select_content li{
    border-bottom: 1px solid #eeeeee;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    cursor: pointer;
}
.S_select_content li:hover{
    color: #85d1c7;
}
.S_select_content li.S_noBorder{
    border: none;
}
.S_filesBox>img{
    float: left;
}
.S_files{
    position: relative;
    width: 138px;
    height: 102px;
    overflow: hidden;
    float: left;
    background: url("../../images/ident_info/file_normal.png") 50% 50% no-repeat;
    border: 1px dashed #dddddd;
    border-radius: 5px;
    margin-right: 20px;
}
.S_files input{
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 104px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.S_table .S_abs_tit{
    position: absolute;
    left: 0;
    top: 17px;
    width: 87px;
    color: #444;
}
.S_zhengjian_td{
    padding-top: 18px;
    padding-bottom: 15px;
}