.part_l{
    padding: 0 20px 45px;

}
.part_r_tt {
    width: 770px;
    padding-left: 30px;
    font-size: 16px;
    color: #444;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
}
.S_l_list li{
    position: relative;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}
.S_l_list li a{
    color: #666;
    cursor:default;
}
.S_l_list li a.S_click{
	cursor:pointer;
}
.S_l_list li.S_noBorder{
    border: none;
}
.S_item_yes{
    display: none;
    position: absolute;
    top: 50%;
    right: 13px;
    margin-top: -9px;
    width: 16px;
    height: 16px;
    background: url("../../images/common/item_yes.png") 50% 50% no-repeat;
}
.S_l_list li.on a{
    color: #7acec3;
}

.part_r_box{
    width: 740px;
    padding: 30px;
}

.S_part1{
    border-bottom: 1px solid #eee;
}
.S_helpInfo{
    position: relative;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #444444;
    margin-bottom: 15px;
}
.S_helpInfo b{
    position: absolute;
    top: 0;
    left: 137px;
    width: 14px;
    height: 14px;
    background: url("../../images/common/item_help.png") 50% 50% no-repeat;
    cursor: pointer;
}
.S_helpInfo i{
    display: none;
    position: absolute;
    top: 1px;
    left: 160px;
    width: 11px;
    height: 11px;
    background: url("../../images/common/item_help_jiantou.png") 50% 50% no-repeat;
    z-index: 2;
}
.S_helpTxt{
    display: none;
    position: absolute;
    top: -14px;
    left: 170px;
    width: 210px;
    padding: 8px 15px;
    line-height: 25px;
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    z-index: 1;
}
.S_roomInfo_select{
    margin-bottom: 30px;
}
.S_roomInfo_select>li{
    position: relative;
    float: left;
    width: 100px;
    height: 40px;
    margin-right: 20px;
}
.S_roomInfo_select i{
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -7px;
    line-height: 14px;
    font-size: 14px;
    color: #444;
}
.S_xiala{
    display: none;
    position: absolute;
    top: 40px;
    padding: 0 9px;
    width: 80px;
    border: 1px solid #dddddd;
    border-top: none;
    background-color: #ffffff;
    z-index: 2;
}
.S_xiala>li {
    border-bottom: 1px solid #eeeeee;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    cursor: pointer;
}
.S_xiala li:last-child {
    border: none;
}
.S_roomInfo_select input[type=text]{
    width: 83px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    border: 1px solid #dddddd;
    padding-left: 15px;
    border-radius: 3px;
    color: #444444;
}



.S_item_content{
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #eeeeee;
}
.S_item_content.on{
    border: none;
}
.S_content_tit{
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}
input[readonly=readonly]{
    cursor: pointer;
}
.S_bed_info_item{
    position: relative;
    float: left;
    width: 140px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.S_bed_info_item input[type=text]{
    width: 123px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    border: 1px solid #dddddd;
    padding-left: 15px;
    border-radius: 3px;
    color: #444444;
}
.S_xiala3{
    top: 40px;
    width: 120px;
}
.S_bed_jiantou{
    position: absolute;
    top: 50%;
    left: 117px;
    width: 8px;
    height: 4px;
    margin-top: -2px;
    background: url("../../images/common/icon_down.png") 50% 50% no-repeat;
}
.S_bed_info a{
    float: left;
    line-height: 40px;
    color: #85d1c7;
}
.S_add_bed{
    position: relative;
    width: 76px;
    height: 38px;
    border: 1px solid #dddddd;
    padding-left: 42px;
    border-radius: 3px;
    cursor: pointer;
}
.S_add_bed span{
    line-height: 38px;
    color: #666;
}
.S_item_add{
    position: absolute;
    top: 13px;
    left: 20px;
    width: 13px;
    height: 13px;
    background: url("../../images/common/item_add.png") 50% 50% no-repeat;
}


.S_next {
    float: left;
    width: 120px;
    height: 40px;
    background-color: #7acec3;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    cursor: pointer;
}
.S_next:hover{
    color: #fff;
}
































































































