/*7ad2c5 active*/
/*8de2d7 hover*/

.part_r_tt{width: 770px;padding:10px 0;padding-left: 30px;font-size: 18px;color: #444;background: #fafafa;border-bottom: 1px solid #eee;height: 40px;line-height: 40px;position: relative;}
.price_link{display: block;width: 70px;height: 25px;line-height: 26px;border: 1px solid #ddd;border-radius: 4px;font-size: 12px;color: #999;position: absolute;top: 20px;right: 30px;text-align: center;}
.sign_icons{width: 400px;height: 50px;line-height: 50px;text-align: center;font-size: 14px;color: #999;padding-bottom: 30px;margin: 0 auto;}
.sign_icons li{width: 30%;height: 50px;float: left;}
.sign_icons li .sign_icon{width: 20px;height: 20px;display: inline-block;vertical-align: middle;}
.b_green{background: #e4f5f3;}
.b_blue{background: #ddd;}
.b_gary{background: #bdd3ec;}
.bm{border-bottom: 1px solid #eee;padding-bottom: 15px;}
.hide{display: none;}
.item_help{display: inline-block;vertical-align: middle;width: 14px;height: 14px;background: url(../../images/common/item_help.png) center center no-repeat;margin-left: 5px;cursor: pointer;}

.select_box{display: inline-block;vertical-align: middle;height: 40px;position: relative;margin-top: -3px;}
.select_box .select_span{display:inline-block;height: 40px;line-height: 40px;z-index: 999;background: transparent;padding-right: 20px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;color: #444;font-size: 16px;background: url(../../images/house/jt.png) right 4px no-repeat;cursor: pointer;}
.selects_ul{width: 150px;position: absolute;top: 50px;left: 0px;background: #fff;border: 1px solid #ddd;height: 40px;background: #fff;font-size: 14px;color: #999;height: 300px;z-index: 100;display: none;padding: 10px 0;overflow: hidden;}
.selects{width: 150px;height: 300px;overflow-y:auto;position: relative;}
.selects li:hover a,
.selects li.active a{color: #7ad2c5;}
.selects li {padding-left: 20px;}
.selects li a{display: block;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;width: 100%;height: 30px;line-height:30px;color: #666;font-size: 14px;text-align: left;}

.set_price_box{padding: 0 30px;}
.set_price_box .set_price_tt{padding: 30px 0;font-size: 20px;color: #444;position: relative;width: 300px;}
.set_price_box .set_price_tt .item_help{margin-top: -4px;}
.set_price_main dl dt{font-size: 14px;width: 300px;height: 16px;color: #666;vertical-align: middle;margin-bottom: 15px;position: relative;}
.set_price_main .round_bg{display: block;width: 30px;height: 16px;position: absolute;top: 0;right: 0;background: #ddd;border-radius: 10px;cursor: pointer;}
.set_price_box .set_price_tt .round_bg{top: 32px;}
.set_price_main .round_bg.org{background: #7ad2c5;}
.set_price_main .round_bg.gray{background: #eee;}
.set_price_main .round_bg .round{display: block;width: 14px;height: 14px;border-radius: 7px;background: #FFFFFF;position: absolute;top: 1px;}
.set_price_main .round_bg.org .round{right: 2px;}
.set_price_main .round_bg.gray .round{left: 2px;}

.set_price_main dl dd{height: 42px;margin-bottom: 15px;}
.price_ipt_box{width: 300px;height: 40px;border: 1px solid #ddd;position: relative;}
.price_ipt_box .price_ipt{width: 285px;padding-left: 15px;color: #444;font-size: 14px;height: 40px;line-height: 40px;border-radius: 3px;}
.price_ipt_box i{display: block;width: 35px;height: 40px;line-height: 40px;background: #ddd;color: #fff;font-size: 16px;text-align: center;position: absolute;top: 0;right: 0;border-radius: 0 3px 3px 0;}
.set_price_main dl dd.m .price_ipt_box{width: 150px;display: block;float: left;}
.set_price_main dl dd.m .price_ipt_box .price_ipt{color: #999;width: 135px;}
.set_price_main dl dd.m span{display: block;float: left;width: 150px;height: 40px;line-height: 40px;font-size: 14px;color: #666;vertical-align: middle;}

.S_module_enter {
  position: relative;
}
.S_module_enter input[type=text] {
  width: 283px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #dddddd;
  padding-left: 15px;
  border-radius: 3px;
  color: #444444;
}
.S_item_dateIcon {
    position: absolute;
    top: 50%;
    left: 264px;
    margin-top: -9px;
    width: 20px;
    height: 19px;
    background: url("../../images/user_info/date_icon.png") 50% 50% no-repeat;
}
.S_xiala {
    position: absolute;
    top: 40px;
    padding: 0 9px;
    width: 280px;
    border: 1px solid #dddddd;
    border-top: none;
    background-color: #ffffff;
    z-index: 2;
    display: none;
}
.S_xiala li {
    border-bottom: 1px solid #eeeeee;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    cursor: pointer;
}
.S_xiala li:hover{
    color: #7acec3;
}
.S_xiala li:last-child{
    border: none;
}
.ipt_btns {
  width: 100%;
  height: 40px;
  padding: 15px 0 30px 0;
}
.ipt_btns .ipt_btn.active {
  color: #fff;
  background: #7ad2c5;
}
.ipt_btns .ipt_btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  border: 1px solid #7ad2c5;
  color: #7ad2c5;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
.ipt_btns .ipt_btn:disabled{
  background: #ddd;
  color: #fff;
  border: 1px solid #ddd;
}
.layui-layer-tips .layui-layer-content{width: 260px;}
