.part_r_tt {
    width: 770px;
    padding-left: 30px;
    font-size: 16px;
    color: #444;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
}
.part_r_box{
    padding: 0 40px 15px;
}
.S_table{
    padding-top: 15px;
}
.S_table table{
    line-height: 70px;
}
.S_table td{
    position: relative;
}
.S_table input[type=text]{
    width: 283px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #dddddd;
    padding-left: 15px;
    border-radius: 3px;
    color: #444444;
}
.S_table input.S_select_input{
    width: 183px;
    font-size: 14px;
    cursor: pointer;
}
.S_table textarea{
    width: 274px;
    height: 108px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding:5px 12px;
    color: #444;
    line-height: 20px;
}
.S_submit_btn{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #7acec3;
    border-radius: 5px;
}
.S_tishi_span{
    font-size: 12px;
    color: #ff4848;
}
.S_ui_radio{
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
}
.S_ui_radio label {
    position: relative;
    padding-left: 5px;
    cursor: pointer;
}
.S_ui_radio input {
    opacity: 0;
    filter: alpha(opacity=0);
}
.S_ui_radio b {
    position: absolute;
    left: 0;
    top: -4px;
    width: 20px;
    height: 20px;
    background: url("../../images/common/radio_noselect.png") 50% 50% no-repeat;
}
.S_ui_radio.on b{
    background: url("../../images/common/radio_select.png") 50% 50% no-repeat;
}
.S_item_dateIcon{
    position: absolute;
    top: 50%;
    left: 167px;
    margin-top: -9px;
    width: 20px;
    height: 19px;
    background: url("../../images/user_info/date_icon.png") 50% 50% no-repeat;
}
.S_item_xiala{
    position: absolute;
    top: 50%;
    left: 179px;
    margin-top: -2px;
    width: 8px;
    height: 4px;
    background: url("../../images/common/icon_down.png") 50% 50% no-repeat;
}
.S_demo_txt{
    position: absolute;
    left: 8px;
    top: 8px;
    width: 258px;
    height: 84px;
    padding: 8px 11px;
    font-size: 12px;
    background-color: #f7f7f7;
    border-radius: 5px;
    line-height: 20px;
    color: #999;
}
.S_demo_txt_jiantou{
    position: absolute;
    top: 34px;
    left: 0;
    border: 10px solid transparent;
    border-left: 0;
    border-right-color: #f7f7f7;
}
.S_select_content{
    position: absolute;
    top: 55px;
    padding: 0 9px;
    width: 180px;
    border: 1px solid #dddddd;
    border-top: none;
    background-color: #ffffff;
    z-index: 2;
}
.S_select_content li{
    border-bottom: 1px solid #eeeeee;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    cursor: pointer;
}
.S_select_content li:hover{
    color: #85d1c7;
}
.S_select_content li.S_noBorder{
    border: none;
}
/* 日历选择插件样式*/
#ui-datepicker-div{
    margin-top: -1px;
    border-top: 1px solid #dddddd;
    z-index: 999!important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 25%;
    background-color: #fff;
}
/*统计数字样式*/
.S_tongji{
    position: absolute;
    left: 1px;
    bottom: -11px;
    width: 300px;
    height: 21px;
    line-height: 21px;
    color: #c5c5c5;
    text-align: right;
    background-color: #fff;
    font-size: 12px;
}
.S_tongji>span.on {
    color: #ff4848;
}

.ui-datepicker .ui-datepicker-title{
	color:#000;
}

/*提示信息样式*/
.S_tishi_span3{
	position:absolute;
	bottom:-6px;
	left:0;
	font-size: 12px;
    color: #ff4848;
    line-height:12px;
}
